-f https://storage.googleapis.com/jax-releases/libtpu_releases.html
datasets==2.14.6
jax[tpu]
flax>=0.3.5
optax>=0.0.9
transformers==4.20.0
tokenizers==0.13.0
tensorboard
tensorflow
sentencepiece
seaborn
torch
pyyaml
pydantic
scikit-learn
seqeval
tabulate
evaluate
nltk
rouge_score